
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
  color: #000;
  height: 100vh;
  weight: 100vw;
  font-family: Arial, San-serif;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.main-holder{
  border: 2px solid grey;
  border-radius: 6px;
  margin: 10px 15px;
  height: calc(100vh - 25px);
  width: calc(100vw - 50px);
}
.header-holder{
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: 25px 0;
}
.close-btn{
  outline: none;
  border: none;
  background-color: #f00;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 4px;
  padding: 6px 8px;
}
.form-holder{
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-evenly;
  margin: 30px 40px;
  gap: 15px;
}
.section-checkbox{
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 0;
}
.label-holder{
  font-size: 1.3rem;
  font-weight: 450;
}
.input-holder{
  height: 2rem;
  border: 2px solid lightgrey;
  border-radius: 6px;
  padding: 5px 15px;
  font-size: 1.2rem;
  background-color: #fff;
}
.section-extra{
  display: flex;
  flex: 1;
  flex-flow: column;
}
.save-btn{
  outline: 0;
  border: 0;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 550;
  border-radius: 7px;
  padding: 8px 0;
  text-align: center;
}
.div2{
  display: flex;
  flex: 1;
  flex-flow: column;
  padding: 0 40px;
  gap: 5px;
}
.section-holder{
  border: 2px solid grey;
  padding: 15px;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gal: 5px;
  border-radius: 6px;
  position: relative;
  border-left-color: green;
  border-left-width: 7px;
}
.x-btn{
  position: absolute;
  right: 25px;
  top: 40%;
  border: 0;
  background: transparent;
  outline: 0;
  color: #f00;
  transform: scale(2);
}
.footer-holder{
  text-align: center;
  margin-top: 15px;
}
.date-input{
  width: 100%;
}